ion-content {
    --background: #f1f1f1;
}

ion-card {
    margin: 0;
    --pading-end: 15px;
}

ion-label {
    margin: 10px;
}

ion-item {
    --min-height: 38px;
    --inner-padding-end: 0px;
}

ion-segment {
    --background: white;
}

ion-item-divider {
    --padding-start: 0px;
}