<ion-header>
    <ion-item-divider>
        <ion-searchbar mode="ios"></ion-searchbar>
    </ion-item-divider>
    <ion-segment scrollable="true" color="light">
        <button class="btn btn-outline-secondary m-1" *ngFor="let tag of tags">{{tag}}</button>
    </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Recent Searches Section-->
    <app-recent-search></app-recent-search>
    <!-- Friend Request Section -->
    <app-friend-requests></app-friend-requests>
    <!-- Cources Section -->
    <app-courses></app-courses>
    <!-- Articles Section -->
    <app-articles></app-articles>
</ion-content>